@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');
.elementor-21 .elementor-element.elementor-element-a9e4240 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 95px 0px 49px 0px;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-5ab2b5a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-21 .elementor-element.elementor-element-5ab2b5a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-21 .elementor-element.elementor-element-5ab2b5a.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-21 .elementor-element.elementor-element-5ab2b5a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0% 0% 0% 22%;
}

.elementor-21 .elementor-element.elementor-element-5ab2b5a {
    z-index: 99;
}

.elementor-21 .elementor-element.elementor-element-5ef911f {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-f834ec3>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-5a3d3f1 .qodef-qi-section-title {
    text-align: left;
}

.elementor-21 .elementor-element.elementor-element-5a3d3f1 .qodef-qi-section-title .qodef-m-title {
    color: #FFF;
    font-family: Roboto Condensed;
    font-size: 156px;
    font-style: normal;
    font-weight: 700;
    line-height: 145.5px;
}
.elementor-21 .elementor-element.elementor-element-5a3d3f1 .qodef-qi-section-title .qodef-m-title2{
    color: #717171;
    font-family: Roboto Condensed;
    font-size: 117px;
    font-style: normal;
    font-weight: 100;
    line-height: 82.5px;
    text-transform: capitalize;
}
.elementor-21 .elementor-element.elementor-element-5a3d3f1 .qodef-qi-section-title .qodef-e-colored {
    color: #bababa;
}

.elementor-21 .elementor-element.elementor-element-5a3d3f1 .qodef-m-subtitle {
    align-items: baseline;
}

.elementor-21 .elementor-element.elementor-element-5a3d3f1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-5a3d3f1 {
    width: 888px;
    max-width: 888px;
}

.elementor-21 .elementor-element.elementor-element-f3d2c47 {
    margin-top: -1px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-caee4f6>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-72b28b9 .qodef-m-line {
    font-size: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

.elementor-21 .elementor-element.elementor-element-72b28b9>.elementor-widget-container {
    margin: 0px 0px 0px -9px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-8955bf4 .qodef-qi-section-title {
    text-align: left;
}

.elementor-21 .elementor-element.elementor-element-8955bf4 .qodef-qi-section-title .qodef-e-colored {
    color: #bababa;
}

.elementor-21 .elementor-element.elementor-element-8955bf4 .qodef-m-subtitle {
    align-items: baseline;
}

.elementor-21 .elementor-element.elementor-element-8955bf4>.elementor-widget-container {
    margin: -33px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-8955bf4 {
    width: 240px;
    max-width: 240px;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-754490f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-21 .elementor-element.elementor-element-754490f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-21 .elementor-element.elementor-element-754490f.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-21 .elementor-element.elementor-element-754490f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0% 20% 0% 0%;
}

.elementor-21 .elementor-element.elementor-element-3c85de3>.elementor-widget-container {
    margin: 25px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-c92333e {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 50px 126px 50px;
}

.elementor-21 .elementor-element.elementor-element-bc6d624>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-255dab3 .qodef-qi-button {
    font-family: "Oswald", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 22px;
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-255dab3 .qodef-m-icon {
    margin: 0px 0px 0px 10px;
}

.elementor-21 .elementor-element.elementor-element-ebdcff6.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-21 .elementor-element.elementor-element-ebdcff6>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 3px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-ed490af .qodef-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-ed490af .qodef-m-icon-holder {
    font-size: 20px;
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-ed490af .qodef-m-icon-holder a {
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-ed490af .qodef-qi-icon-with-text:hover .qodef-m-icon-holder {
    color: #EC4E00;
}

.elementor-21 .elementor-element.elementor-element-ed490af .qodef-m-icon-holder svg {
    stroke-width: 0;
}

.elementor-21 .elementor-element.elementor-element-ed490af>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-ed490af {
    width: auto;
    max-width: auto;
}

.elementor-21 .elementor-element.elementor-element-01c50cc .qodef-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-01c50cc .qodef-m-icon-holder {
    font-size: 17px;
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-01c50cc .qodef-m-icon-holder a {
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-01c50cc .qodef-qi-icon-with-text:hover .qodef-m-icon-holder {
    color: #EC4E00;
}

.elementor-21 .elementor-element.elementor-element-01c50cc .qodef-m-icon-holder svg {
    stroke-width: 0;
}

.elementor-21 .elementor-element.elementor-element-01c50cc>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-01c50cc {
    width: auto;
    max-width: auto;
}

.elementor-21 .elementor-element.elementor-element-6b3c9f4 .qodef-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-6b3c9f4 .qodef-m-icon-holder {
    font-size: 13px;
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-6b3c9f4 .qodef-m-icon-holder a {
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-6b3c9f4 .qodef-qi-icon-with-text:hover .qodef-m-icon-holder {
    color: #EC4E00;
}

.elementor-21 .elementor-element.elementor-element-6b3c9f4 .qodef-m-icon-holder svg {
    stroke-width: 0;
}

.elementor-21 .elementor-element.elementor-element-6b3c9f4>.elementor-widget-container {   
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-6b3c9f4 {
    width: auto;
    max-width: auto;
}

.elementor-21 .elementor-element.elementor-element-c2885ca {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-db2e1a7>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-6cc0b21 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 104px 0px 31px 0px;
}

.elementor-21 .elementor-element.elementor-element-9807e4a.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-21 .elementor-element.elementor-element-9807e4a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-c142346>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.elementor-21 .elementor-element.elementor-element-654d5a2 .qodef-qi-section-title {
    text-align: center;
}

.elementor-21 .elementor-element.elementor-element-654d5a2 .qodef-qi-section-title .qodef-e-colored {
    color: #bababa;
}

.elementor-21 .elementor-element.elementor-element-654d5a2 .qodef-m-subtitle {
    align-items: baseline;
}

.elementor-21 .elementor-element.elementor-element-654d5a2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-654d5a2 {
    width: 798px;
    max-width: 798px;
}

.elementor-21 .elementor-element.elementor-element-5546148 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 32px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-911df5f.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-21 .elementor-element.elementor-element-911df5f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-557c10f .qodef-qi-button {
    font-family: "Oswald", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 22px;
    color: #EFEFEF;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 51px 18px 51px;
}

.elementor-21 .elementor-element.elementor-element-557c10f .qodef-qi-button.qodef-layout--filled {
    background-color: #EC4E00;
}

.elementor-21 .elementor-element.elementor-element-557c10f .qodef-qi-button.qodef-layout--filled:not(.qodef-hover--reveal):hover {
    background-color: #D74700;
}

.elementor-21 .elementor-element.elementor-element-557c10f .qodef-qi-button.qodef-layout--outlined:not(.qodef-hover--reveal):hover {
    background-color: #D74700;
}

.elementor-21 .elementor-element.elementor-element-557c10f .qodef-qi-button.qodef-layout--filled.qodef-hover--reveal:after {
    background-color: #D74700;
}

.elementor-21 .elementor-element.elementor-element-557c10f .qodef-qi-button.qodef-layout--outlined.qodef-hover--reveal:after {
    background-color: #D74700;
}

.elementor-21 .elementor-element.elementor-element-557c10f .qodef-qi-button.qodef-type--icon-boxed .qodef-m-text {
    padding: 18px 51px 18px 51px;
}

.elementor-21 .elementor-element.elementor-element-557c10f .qodef-qi-button.qodef-type--icon-boxed .qodef-m-icon {
    padding: 18px 0 18px;
}

.elementor-21 .elementor-element.elementor-element-557c10f {
    width: auto;
    max-width: auto;
}

.elementor-21 .elementor-element.elementor-element-0a7c0f5 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 133px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-a1d7065.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-21 .elementor-element.elementor-element-a1d7065>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 3px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-d362e26 .qodef-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-d362e26 .qodef-m-icon-holder {
    font-size: 20px;
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-d362e26 .qodef-m-icon-holder a {
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-d362e26 .qodef-qi-icon-with-text:hover .qodef-m-icon-holder {
    color: #EC4E00;
}

.elementor-21 .elementor-element.elementor-element-d362e26 .qodef-m-icon-holder svg {
    stroke-width: 0;
}

.elementor-21 .elementor-element.elementor-element-d362e26>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-d362e26 {
    width: auto;
    max-width: auto;
}

.elementor-21 .elementor-element.elementor-element-edd8253 .qodef-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-edd8253 .qodef-m-icon-holder {
    font-size: 17px;
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-edd8253 .qodef-m-icon-holder a {
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-edd8253 .qodef-qi-icon-with-text:hover .qodef-m-icon-holder {
    color: #EC4E00;
}

.elementor-21 .elementor-element.elementor-element-edd8253 .qodef-m-icon-holder svg {
    stroke-width: 0;
}

.elementor-21 .elementor-element.elementor-element-edd8253>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-edd8253 {
    width: auto;
    max-width: auto;
}

.elementor-21 .elementor-element.elementor-element-95f5455 .qodef-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-95f5455 .qodef-m-icon-holder {
    font-size: 13px;
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-95f5455 .qodef-m-icon-holder a {
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-95f5455 .qodef-qi-icon-with-text:hover .qodef-m-icon-holder {
    color: #EC4E00;
}

.elementor-21 .elementor-element.elementor-element-95f5455 .qodef-m-icon-holder svg {
    stroke-width: 0;
}

.elementor-21 .elementor-element.elementor-element-95f5455>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-95f5455 {
    width: auto;
    max-width: auto;
}

.elementor-21 .elementor-element.elementor-element-79b5ece {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 14px 0px 31px 0px;
}

.elementor-21 .elementor-element.elementor-element-5210dd4 .elementor-element-populated a {
    color: #606060;
}

.elementor-21 .elementor-element.elementor-element-5210dd4 .elementor-element-populated a:hover {
    color: #EFEFEF;
}

.elementor-21 .elementor-element.elementor-element-5210dd4>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-c4daff7 .qodef-qi-section-title {
    text-align: center;
}

.elementor-21 .elementor-element.elementor-element-c4daff7 .qodef-qi-section-title .qodef-e-colored {
    color: #bababa;
}

.elementor-21 .elementor-element.elementor-element-c4daff7 .qodef-m-subtitle {
    align-items: baseline;
}

.elementor-21 .elementor-element.elementor-element-c4daff7>.elementor-widget-container {
    margin: -8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-21 .elementor-element.elementor-element-a9e4240 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 170px 0px 49px 0px;
    }

    .elementor-21 .elementor-element.elementor-element-5ab2b5a>.elementor-element-populated {
        margin: -20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 54px 0px 54px;
    }

    .elementor-21 .elementor-element.elementor-element-5a3d3f1 .qodef-qi-section-title .qodef-m-title {
        font-size: 120px;
        line-height: 130px;
    }

    .elementor-21 .elementor-element.elementor-element-f3d2c47 {
        margin-top: -5px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-21 .elementor-element.elementor-element-8955bf4 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-21 .elementor-element.elementor-element-754490f.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-21 .elementor-element.elementor-element-754490f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 40px 54px 0px 54px;
    }

    .elementor-21 .elementor-element.elementor-element-3c85de3 {
        text-align: left;
        width: 100%;
        max-width: 100%;
    }

    .elementor-21 .elementor-element.elementor-element-3c85de3>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0% 0% 0% 0%;
    }

    .elementor-21 .elementor-element.elementor-element-c92333e {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 54px 126px 54px;
    }

    .elementor-21 .elementor-element.elementor-element-5210dd4.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-21 .elementor-element.elementor-element-c4daff7 .qodef-qi-section-title {
        text-align: left;
    }

    .elementor-21 .elementor-element.elementor-element-c4daff7 {
        width: auto;
        max-width: auto;
    }
}

@media(max-width:767px) {
    .elementor-21 .elementor-element.elementor-element-a9e4240 {
        padding: 100px 0px 49px 0px;
    }

    .elementor-21 .elementor-element.elementor-element-5ab2b5a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 28px 34px 0px 34px;
    }

    .elementor-21 .elementor-element.elementor-element-5a3d3f1 .qodef-qi-section-title .qodef-m-title {
        font-size: 55px;
        line-height: 65px;
    }

    .elementor-21 .elementor-element.elementor-element-f3d2c47 {
        margin-top: -2px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-21 .elementor-element.elementor-element-754490f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 40px 34px 0px 34px;
    }

    .elementor-21 .elementor-element.elementor-element-3c85de3>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-21 .elementor-element.elementor-element-c92333e {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 34px 126px 34px;
    }

    .elementor-21 .elementor-element.elementor-element-ebdcff6.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-21 .elementor-element.elementor-element-ebdcff6>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 0px 0px 0px;
    }

    .elementor-21 .elementor-element.elementor-element-6cc0b21 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 109px 0px 31px 0px;
    }

    .elementor-21 .elementor-element.elementor-element-c142346>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 22px 0px;
    }

    .elementor-21 .elementor-element.elementor-element-0a7c0f5 {
        padding: 116px 0px 0px 0px;
    }

    .elementor-21 .elementor-element.elementor-element-a1d7065.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-21 .elementor-element.elementor-element-a1d7065>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-21 .elementor-element.elementor-element-5ab2b5a {
        width: 44%;
    }

    .elementor-21 .elementor-element.elementor-element-754490f {
        width: 56%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-21 .elementor-element.elementor-element-5ab2b5a {
        width: 100%;
    }

    .elementor-21 .elementor-element.elementor-element-754490f {
        width: 100%;
    }
}